[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20"

# Branch deploy settings
[context.branch-deploy]
  command = "npm run build"

[context.deploy-preview]
  command = "npm run build"
